{
    "extends": "future",
    "ecmaFeatures": {
        "modules": true
    },
    "rules": {
        "comma-dangle": [
            1,
            "never"
        ],
        "indent": [
            2,
            2
        ],
        "quotes": [
            1,
            "double"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            1,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    }
}
