.DS_STORE
.eslintcache
*.swp
*~
/examples/*/node_modules/

/node_modules

/packages/*/build/
/packages/*/browser/
/packages/*/coverage/
/packages/*/node_modules/

/examples/*/public/js/compiled
/examples/*/.shadow-cljs

coverage
lerna-debug.log
npm-debug.log
npm-debug.log*
yarn-error.log*